<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Car Service</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <section class="login-section">
    <div class="login-box">
        <h2>Car Service 🚗</h2>
        <p>Login to continue</p>

        <form action="/login" method="POST">

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button class="login-btn">Login</button>

            <div class="login-links">
                <a href="#">Forgot?</a>
                <a href="/register">Create Account</a>
            </div>

        </form>
    </div>
</section>

</body>
</html>