 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
      
        <%- include('partials/Navbar.ejs') %>
       <h3 class="text-center">About Page</h3>
        <%- include('partials/footer.ejs') %>
     
  
     
 </body>
 <script src="js/bootstrap.bundle.min.js"></script>
 </html>

 <!-- <%= %> (output)
 <% %> (logic)
 <%- %> (raw html) -->